* {
    box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}
ul, ol {
    margin: 0px;
    padding-left: 0px;
}
button {
    cursor: pointer;
}
address {
    font-style: normal;
}
body {
    font-family: Roboto, sans-serif;
    color: #212121;
}
img {
    display: block;
}
.container {
    width: 1600px;
    padding-left: 215px;
    padding-right: 215px;
}
.list {
    list-style: none;
}
.link{
    text-decoration: none;
}
:root {
    --main-color: #000000;
    --additional-color: #2196F3;
    --additional-color1: #188CE8;
    --white: #FFFFFF;
    --white1: #F5F4FA;
    --white2: #EEEEEE;
    --grey: #212121;
    --grey1: #757575;
    --grey2: rgba(255, 255, 255, 0.6);
    --bg-white: #F5F5F5;
    --bg-gray: #2F303A;
    --black: rgba(0, 0, 0, 0.15);
    --border: #ECECEC;
}
/*--------------------------Header-------------------------*/
.header {
    background-color: var(--white);
}
.header-container {
    display: flex;
    justify-content: space-between;
}
.header-navigation {
    display: flex;
    justify-content: center;  
}
.header-list {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 50px;
    padding-left: 93px;
}
.header-logo-1{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--additional-color);
}
.header-logo-2 {  
    color: var(--main-color);
}
.logo-1 {
    padding: 24px 0px 25px;
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--grey);
}
.header-link-blue {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--additional-color);
}
.header-link:hover, .header-link:focus{
    color: var(--additional-color);
}
.header-contacts {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    gap: 50px;
    padding-left: 344px;
}
.header-mail, .header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--grey1);
    text-decoration: none;
}
.header-mail:hover, .header-tel:hover, .header-mail:focus, .header-tel:focus{
    color: var(--additional-color);
}
.border-bottom {
    border-bottom: 1px solid var(--border);
}
/*--------------------------Header-------------------------*/

/*--------------------------Main(Index)-------------------------*/
.main {
    background: var(--bg-white);
}
.bg {
    width: 1600px;
    height: 600px; 
    background: var(--bg-gray);
}
.bg-main {
    background: var(--white);   
}
.bg-main-1 {
    background: var(--white1);   
}
.our-features {
    display: flex;
    justify-content: space-between;
    padding-top: 94px;
}
.feature-list {
    width: 270px;
}
.feature {
    padding-bottom: 10px;
}
.main-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    padding: 200px 452px 30px 452px;
}
.get-a-service {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white);
    border-color: transparent;
    background: var(--additional-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 216px;
    height: 50px;
    padding: 10px 29px 10px 29px;
    margin: 0px 692px 200px 692px;
}
.get-a-service:hover, .get-a-service:focus {
    cursor: pointer;
    background: var(--additional-color1);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.feature {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--grey);
}
.description-feature {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--grey1);
}
.work {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--grey);
    text-align: center;
    padding-top: 118px;
    padding-bottom: 50px;
}
.work-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
}
.teams {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--grey);
    text-align: center;
    padding-top: 94px;
}
.teams-list {
    display: flex;
    justify-content: space-between;
    padding: 50px 215px 0px 215px;
}
.teams-section{
    width: 1600px;
    height: 648px;
    background: var(--white1);
}
.member {
    background: var(--white);
    width: 270px;
    height: 368px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}
.name {    
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--grey);
    text-align: center;
    padding-top: 30px;
}
.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--grey1);
    text-align: center;
    padding-top: 10px;
}
/*--------------------------Main-------------------------*/
/*--------------------------Main(Portfolio)-------------------------*/
.main-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey);
    background: var(--white1);
    border-radius: 4px;
    cursor: pointer;
    border: 0px;
    padding: 6px 22px 6px 22px;
}
.main-link-blue {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--white);
    border-radius: 4px;
    cursor: pointer;
}
.main-link-blue {
    background: var(--additional-color);
    border: 0px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    padding: 6px 25px 6px 25px;
}
.main-link:hover, .main-link:focus{
    color: var(--white);
    background: var(--additional-color);
    border: 0px;
}
.main-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-top: 94px;
}
.bg-potrfolio {
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;
}
.name-project {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--grey);
}
.project {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--grey1);
}
.border-portfolio {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-left: 1px solid var(--white2);
    border-right: 1px solid var(--white2);
    border-bottom: 1px solid var(--white2);
    padding: 20px 24px 20px 24px;

}
.portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 94px 0px 94px 0px;
}
/*--------------------------Main(Portfolio)-------------------------*/
/*--------------------------Footer-------------------------*/
.footer {
    width: 1600px;
    background: var(--bg-gray);
    padding-left: 215px;
}
.footer-map {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--white);
    font-style: normal;
}
.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--grey2);
    font-style: normal;
    padding-top: 9px;
}
.footer-logo-1{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--additional-color);
}
.footer-logo-2 {  
    color: var(--white);
}
.logo-2 {
    padding-top: 60px;
}
.footer-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 60px;
    gap: 9px;
}
