* {
    box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}
ul, ol {
    margin: 0px;
    padding-left: 0px;
}
button {
    cursor: pointer;
}
address {
    font-style: normal;
}
body {
    font-family: Roboto, sans-serif;
    color: #212121;
}
img {
    display: block;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.list {
    list-style: none;
}
.link{
    text-decoration: none;
}
:root {
    --main-color: #000000;
    --additional-color: #2196F3;
    --additional-color1: #188CE8;
    --white: #FFFFFF;
    --white1: #F5F4FA;
    --white2: #EEEEEE;
    --grey: #212121;
    --grey1: #757575;
    --grey2: rgba(255, 255, 255, 0.6);
    --bg-white: #F5F5F5;
    --bg-gray: #2F303A;
    --black: rgba(0, 0, 0, 0.15);
    --border: #ECECEC;
    --border1: #AFB1B8;
    --icon: #AFB1B8;
}
/*--------------------------Header-------------------------*/
.header {
    background-color: var(--white);
    border-bottom: 1px solid var(--border);
}
.header-container {
    display: flex;
}
.header-navigation {
    display: flex;
    justify-content: center;  
}
.header-list {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 50px;
    margin-left: 93px;
}
.header-logo-1{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--additional-color);
}
.header-logo-2 {  
    color: var(--main-color);
}
.logo-1 {
    padding: 24px 0px 25px;
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--grey);
}
.header-link-blue {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--additional-color);
}
.header-link:hover, .header-link:focus{
    color: var(--additional-color);
}
.header-contacts {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    gap: 30px;
    margin-left: 318px;
}
.header-icon {
    fill: var(--grey1);
}
.header-icon:focus, .header-icon:hover {
    fill: var(--additional-color);
}
.header-icons-link {
    display: flex;
    gap: 10px;
}
.header-mail, .header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--grey1);
    text-decoration: none;
}
.border-bottom {
    border-bottom: 1px solid var(--border);
}
.header-icons-link:hover, .header-icons-link:focus {
    fill: var(--additional-color);
    color: var(--additional-color);
}
/*--------------------------Header-------------------------*/

/*--------------------------Main(Index)-------------------------*/
.main {
    background: var(--bg-white);
}
.bg {
    background: var(--bg-gray);
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imges/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.bg-main {
    background: var(--white);
    padding-top: 94px;
    padding-bottom: 94px;
}
.bg-main-1 {
    background: var(--white1);   
}
.bg-main-2 {
    background: var(--white);
    padding-top: 94px;
    padding-bottom: 94px;
}
.our-features {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.main-text {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    margin: 0 auto;
}
.get-a-service {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white);
    border-color: transparent;
    background: var(--additional-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    width: 216px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}    
.get-a-service:hover, .get-a-service:focus {
    cursor: pointer;
    background: var(--additional-color1);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.feature-icons-item {
    width: calc((100% - 90px)/4);
    height: 120px;
    background-color: var(--white1);
    border-radius: 4px;
}
.feature-icons-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.feature {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--grey);
    margin-bottom: 10px;
}
.description-feature {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: var(--grey1);
}
.work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--grey);
    text-align: center;
    margin-bottom: 50px;
}
.work-list {
    display: flex;
    justify-content: space-between;
}
.teams {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--grey);
    text-align: center;
}
.teams-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.teams-section{
    background: var(--white1);
    padding-top: 94px;
    padding-bottom: 94px;
}
.member {
    background: var(--white);
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--grey);
    text-align: center;
    padding-top: 30px;
}
.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--grey1);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 16px;
}
.soc-list{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
}
.soc-item {
    width: 44px;
    height: 44px;
}
.soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.soc-icon {
    fill: var(--icon);
}
.soc-link:hover, .soc-link:focus, .soc-icon:hover, .soc-icon:focus {
    background-color: var(--additional-color);
    fill: var(--white); 
}
.customer {
    background-color: var(--white);
    padding-top: 94px;
    padding-bottom: 94px;
}
.regular-customers {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.customer-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.customer-item {
    width: calc((100% - 150px)/6);
    height: 92px;
}
.customer-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--border1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--border1);
}
.customer-icon:hover, .customer-icon:focus {
    fill: var(--additional-color);
}
.customer-link:hover, .customer-link:focus {
    border: 1px solid var(--additional-color);
}
/*--------------------------Main-------------------------*/
/*--------------------------Main(Portfolio)-------------------------*/
.bg-potrfolio:hover, .bg-potrfolio:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.bg-main-portfolio {
    background: var(--white);
}
.main-text-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.main-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey);
    background: var(--white1);
    border-radius: 4px;
    cursor: pointer;
    border: 0px;
    padding: 6px 22px 6px 22px;
}
.main-link-blue {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--white);
    border-radius: 4px;
    cursor: pointer;
}
.main-link-blue {
    background: var(--additional-color);
    border: 0px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    padding: 6px 25px 6px 25px;
}
.main-link:hover, .main-link:focus{
    color: var(--white);
    background: var(--additional-color);
    border: 0px;
}
.main-list {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.bg-potrfolio {
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;
}
.name-project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--grey);
}
.project {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--grey1);
    margin-top: 4px;
}
.border-portfolio {
    border-left: 1px solid var(--white2);
    border-right: 1px solid var(--white2);
    border-bottom: 1px solid var(--white2);
    padding: 20px 24px 20px 24px;
}
.portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}
/*--------------------------Main(Portfolio)-------------------------*/
/*--------------------------Footer-------------------------*/
.footer {
    background: var(--bg-gray);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-map {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white);
    font-style: normal;
}
.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--grey2);
    font-style: normal;
    padding-top: 9px;
}
.footer-logo-1{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--additional-color);
    display: block;
    margin-bottom: 20px;
}
.footer-logo-2 {  
    color: var(--white);
}
.footer-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 9px;
}
.join-in {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 20px;
}
.footer-icons-list {
    display: flex;
    flex-direction: row;
    gap: 10px; 
}
.footer-icons-item {
    width: 44px;
    height: 44px;
}
.footer-icons-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-icon {
    fill: var(--white);
}
.footer-section {
    display: flex;
    gap: 70px;
    align-items: baseline;
}
.footer-icons-link:hover, .footer-icons-link:focus {
   background-color: var(--additional-color); 
}