* {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

ul, ol {
  margin: 0px;
  padding-left: 0px;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.subscription__input::-moz-placeholder {
  display: flex;
  align-items: center;
}

.subscription__input:-ms-input-placeholder {
  display: flex;
  align-items: center;
}

.check__label span, .modal__button, .subscription__button, .subscription__input::placeholder, .subscription__input, .soc__link, .customer__icon, .social__icon, .feature__icon, .contacts__link, .contacts, .navigation__list {
  display: flex;
  align-items: center;
}

.portfolio, .customer, .team, .work, .feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

address {
  font-style: normal;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

:root {
  --main-color: #000000;
  --additional-color: #2196F3;
  --additional-color1: #188CE8;
  --white: #FFFFFF;
  --white1: #F5F4FA;
  --white2: #EEEEEE;
  --grey: #212121;
  --grey1: #757575;
  --grey2: rgba(255, 255, 255, 0.6);
  --bg-white: #F5F5F5;
  --bg-gray: #2F303A;
  --black: rgba(0, 0, 0, 0.15);
  --border: #ECECEC;
  --border1: #AFB1B8;
  --icon: #AFB1B8;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo__left {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--additional-color);
}

.header-logo__rights {
  color: var(--main-color);
}

.header-logo {
  padding: 24px 0px 25px;
}

.footer-logo__left {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--additional-color);
  display: block;
  margin-bottom: 20px;
}

.footer-logo__right {
  color: var(--white);
}

.header {
  background-color: var(--white);
  border-bottom: 1px solid var(--border);
}

.header-container {
  display: flex;
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigation__list {
  justify-content: space-between;
  gap: 50px;
  margin-left: 93px;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--grey);
  transition: color var(--animation);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--additional-color);
}

.navigation__link-blue {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--additional-color);
}
.navigation__link-blue::after {
  content: "";
  width: 48px;
  height: 4px;
  top: 47px;
  left: 0;
  background-color: var(--additional-color);
  border-radius: 2px;
  position: absolute;
}

.navigation__item {
  position: relative;
}

.navigation__link-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--additional-color);
}
.navigation__link-portfolio::after {
  content: "";
  width: 78px;
  height: 4px;
  top: 47px;
  left: 0;
  background-color: var(--additional-color);
  border-radius: 2px;
  position: absolute;
}

.contacts {
  justify-content: space-between;
  gap: 30px;
  margin-left: 318px;
}

.contacts__link {
  justify-content: center;
  gap: 10px;
  color: var(--grey1);
  fill: var(--grey1);
  transition: color var(--animation), fill var(--animation);
}
.contacts__link:focus, .contacts__link:hover {
  color: var(--additional-color);
  fill: var(--additional-color);
}

.contacts__mail, .contacts__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.border-bottom {
  border-bottom: 1px solid var(--border);
}

.hero {
  background: var(--bg-gray);
  padding-top: 200px;
  padding-bottom: 150px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imges/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero_title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
  margin: 0 auto;
}

.button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  border-color: transparent;
  background: var(--additional-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 216px;
  height: 50px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  transition: background-color var(--animation);
}

.feature {
  background: var(--white);
}

.feature__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.feature__item {
  width: calc((100% - 90px) / 4);
  height: 120px;
  background-color: var(--white1);
  border-radius: 4px;
}

.feature__icon {
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-bottom: 30px;
}

.features__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--grey);
  margin-bottom: 10px;
}

.feature__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: var(--grey1);
}

.work {
  background: var(--white);
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--grey);
  text-align: center;
  margin-bottom: 50px;
}

.work__list {
  display: flex;
  justify-content: space-between;
}

.work__item {
  position: relative;
}

.work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  background: var(--white1);
}

.team_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--grey);
  text-align: center;
}

.team__list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.team__link {
  background: var(--white);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--grey);
  text-align: center;
  padding-top: 30px;
}

.team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--grey1);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 16px;
}

.social__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__icon {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  border-radius: 100%;
  justify-content: center;
  color: var(--icon);
  transition: color var(--animation), background-color var(--animation);
}
.social__icon:hover, .social__icon:focus {
  background-color: var(--additional-color);
  color: var(--white);
}

.social__svg {
  fill: currentColor;
}

.customer {
  background-color: var(--white);
}

.customer__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.customer__list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.customer__item {
  width: calc((100% - 150px) / 6);
  height: 92px;
}

.customer__icon {
  width: 100%;
  height: 100%;
  border: 1px solid var(--border1);
  border-radius: 4px;
  justify-content: center;
  color: var(--border1);
  transition: color var(--animation), border var(--animation);
}
.customer__icon:hover, .customer__icon:focus {
  border: 1px solid var(--additional-color);
  color: var(--additional-color);
}

.customer__svg {
  fill: currentColor;
}

.footer {
  background: var(--bg-gray);
  padding-top: 60px;
  padding-bottom: 60px;
}

.addres__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 9px;
}

.addres__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  font-style: normal;
}

.addres__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey2);
  font-style: normal;
  padding-top: 9px;
}

.soc__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.soc__list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.soc__item {
  width: 44px;
  height: 44px;
}

.soc__link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  justify-content: center;
  transition: background-color var(--animation);
}
.soc__link:hover, .soc__link:focus {
  background-color: var(--additional-color);
}

.soc_svg {
  fill: var(--white);
}

.footer--flex {
  display: flex;
  align-items: baseline;
}

.addres {
  margin-right: 70px;
}

.soc {
  margin-right: 93px;
}

.subscription__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  display: block;
  margin-bottom: 20px;
}

.subscription__mail {
  display: flex;
  position: relative;
}

.subscription__input {
  width: 358px;
  height: 50px;
  padding-left: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}
.subscription__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__button {
  width: 200px;
  height: 50px;
  background: var(--additional-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-left: 12px;
  padding-left: 28px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  position: relative;
}
.subscription__button::before {
  content: "";
  background-image: url(../imges/tele.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 148px;
  transform: translateY(-50%);
}

.backdrop {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity var(--animation), visibility var(--animation);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform var(--animation);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal__button {
  widows: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  justify-content: center;
  cursor: pointer;
  transition: color var(--animation);
}
.modal__button:hover, .modal__button:focus {
  color: var(--additional-color);
}

.modal__icon {
  fill: currentColor;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey);
  margin-bottom: 12px;
}

.form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--grey1);
  display: block;
  margin-bottom: 4px;
}

.form--wrap {
  position: relative;
  margin-bottom: 10px;
}

.form__svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--animation);
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 12px;
  font-size: 12px;
  line-height: 1.15;
  outline: transparent;
  transition: border var(--animation);
}
.form__input:focus {
  border: 1px solid var(--additional-color);
}
.form__input:focus + .form__svg {
  fill: var(--additional-color);
}

.form__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  resize: none;
  outline: transparent;
  transition: border var(--animation);
}
.form__textarea:focus {
  border: 1px solid var(--additional-color);
}
.form__textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check__input:checked + .check__label span {
  background-color: var(--additional-color);
  border-color: transparent;
  fill: var(--white);
}
.check__input:focus + .check__label span {
  border-color: var(--additional-color);
}

.check__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--grey1);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 13px;
}
.check__label span {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--grey);
  border-radius: 3px;
  justify-content: center;
  fill: transparent;
}

.check__contract {
  color: var(--additional-color);
  margin-left: 5px;
}

.form__button {
  display: block;
  width: 200px;
  padding: 10px 52px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  background-color: var(--additional-color);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.filter__list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.filter__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey);
  background: var(--white1);
  border-radius: 4px;
  cursor: pointer;
  border: 0px;
  padding: 6px 22px 6px 22px;
  transition: color var(--animation), background-color var(--animation);
}
.filter__link:hover, .filter__link:focus {
  color: var(--white);
  background-color: var(--additional-color);
}

.filter__link-blue {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white);
  border-radius: 4px;
  cursor: pointer;
  background: var(--additional-color);
  border: 0px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  padding: 6px 25px 6px 25px;
}

.portfolio__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.portfolio__item {
  transition: box-shadow var(--animation);
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;
}
.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__item:hover .portfolio__title {
  transform: translateY(0);
}

.potrfolio__photo {
  position: relative;
  overflow: hidden;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  padding: 63px 24px 0px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--animation);
  overflow: auto;
}

.portfolio__description {
  border-left: 1px solid var(--white2);
  border-right: 1px solid var(--white2);
  border-bottom: 1px solid var(--white2);
  padding: 20px 24px 20px 24px;
}

.portfolio__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--grey);
}

.portfolio__project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--grey1);
  margin-top: 4px;
}/*# sourceMappingURL=main.css.map */