.customer {
    background-color: var(--white);
    @extend %position
}
.regular-customers {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.customer-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.customer-item {
    width: calc((100% - 150px)/6);
    height: 92px;
}
.customer-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--border1);
    border-radius: 4px;
    @extend %align-items;
    justify-content: center;
    color: var(--border1);
    transition: color var(--animation), border var(--animation);
    &:hover, &:focus {
        border: 1px solid var(--additional-color);
        color: var(--additional-color);
    }
}
.customer-icon {
    fill: currentColor;
}
