.customers {
  @extend %--section;
}
.conteiner {
  @extend %--conteiner;
}
.customers__title {
  @extend %--title;
  font-weight: 700;
  font-size: 28px;  
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $grey;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;  
    margin-bottom: 50px;      
  }
}
.customers__list {
  @extend %--list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.customers__link {
  @extend %--link;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid $border1;
  border-radius: 4px;
  color: $border1;
  transition: $transition-color, $transition-border-color;
  &:hover, &:focus {
    color: $additional-color;
    border-color: $additional-color;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
.customers__icon {
  fill: currentColor;
}
