.footer {
  display: flex;
  justify-content: center;
  background-color: $bg-gray;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 14px;
  line-height: 1.71;
}
.conteiner {
  @extend %--conteiner;
}
.footer__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
.footer__tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 165px;   
  }
  @media screen and (min-width: 1200px) {
    gap: 70px;
    margin-right: 93px;
  }
}
.address {
  margin-top: 20px;
}
.address__list {
  @extend %--list;
  font-style: normal;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.address__item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $white;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
.address__link {
  @extend %--link;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $grey2;
  transition: $transition-color;
  &:hover,
  &:focus {
    color: $additional-color;
  }
}
.address__link-white {
  color: $white;
}