.header {
  @extend %--conteiner;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid;
  border-color: $border;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.header, .navigation {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
.navigation__list {
  @extend %--list;
  gap: 50px;
}
.navigation, .navigation__list, .contact {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 40px;
  line-height: 1.18;
  @media screen and (min-width: 768px) {
    display: flex;
    font-size: 14px;
    line-height: 1.14;
  }
}
.navigation__item {
  @media screen and (min-width: 768px) {
    position: relative;
  }
}
.navigation__link {
  @extend %--link;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $grey;
  transition: $transition-color;
  &:hover,
  &:focus {
    color: $additional-color;
  }
  @media screen and (max-width: 767px) {
    padding: 0;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 768px) {
    &--curent::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $additional-color;
    }
  }
}
.navigation__link--focus {
  color: $additional-color
}
.contact {
  @extend %--list;
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
  @media screen and (min-width: 768px) {
    flex-direction: column;
    margin-top: 0;
    margin-left: 92px;
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    margin-left: 313px;
    gap: 30px;
  }
}
.contact__link {
  @extend %--link;
  align-items: center;
  color: $grey1;
  transition: $transition-color;
  &--mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
  }
  &:hover, &:focus {
    color: $additional-color;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.contact__svg {
  margin-right: 10px;
  fill: currentColor;
  transition: $fill-color;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.social--list {
  @extend %--list;
  display: flex;
  margin-top: 64px;
  padding-bottom: 48px;
  gap: 20px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.social--link {
  @extend %--link;
  font-weight: 500;
  font-size: 18px;
  line-height: 1, 22;
  letter-spacing: 0.02em;
  color: $additional-color;
}
