.header-logo__left{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--additional-color);
}
.header-logo__rights {  
    color: var(--main-color);
}
.header-logo {
    padding: 24px 0px 25px;
}
.footer-logo__left {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--additional-color);
    display: block;
    margin-bottom: 20px;
}
.footer-logo__right {  
    color: var(--white);
}