.logo {
  @extend %--link;
  display: block;
  font-family: $font-family1;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: $additional-color;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  @media screen and (min-width: 1200px) {
   text-align: left;
    font-size: 26px;
    line-height: 1.19;    
  }
}
.logo__part {
  color: $main-color;
  transition: $transition-color;
}
.logo__part--white {
  color: $white;
}