.header-logo-1{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--additional-color);
}
.header-logo-2 {  
    color: var(--main-color);
}
.logo-1 {
    padding: 24px 0px 25px;
}
.footer-logo-1{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--additional-color);
    display: block;
    margin-bottom: 20px;
}
.footer-logo-2 {  
    color: var(--white);
}