.menu__batton {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu__close-icon {
  display: none;
}
.menu__batton.is-open .menu__close-icon {
  display: block;
}
.menu__batton.is-open .logo {
  display: none;
}
.menu__batton.is-open .menu__icon {
  display: none;
}
.menu__container {
  background-color: $white;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: $grey;
  @media screen and (max-width: 767px) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 48px;
    padding-left: 40px;
    width: 100%;
    height: 796px;
    z-index: 1;
    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }  
  }
  @media screen and (max-width: 767px) {
    height: 100vh;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: 87px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 92px;
  }
}
